{% extends 'base.html' %}
{% load static %}
{% block content %}


<section class="hero-wrap hero-wrap-2">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 text-center ftco-animate pt-5">
                <h1 class="mb-3 bread">Our Blog</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index-2.html">Home <i
                        class="fa fa-chevron-right"></i></a></span> <span class="mr-2"><a href="blog.html">Blog <i
                        class="fa fa-chevron-right"></i></a></span> <span>Blog Details<i
                        class="fa fa-chevron-right"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container-fluid px-md-4">
        <div class="row no-gutters">
            <div class="col-md-12 blog-wrap">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-6 img img-blog js-fullheight" style="background-image: url({{blog.image.url}});">
                    </div>
                    <div class="col-md-6">
                        <div class="text p-md-5 py-5 px-4 ftco-animate">
                            <p class="meta">
                                <a href="#"><span class="fa fa-calendar mr-2"></span>{{blog.update_date}}</a>
                                <a href="#"><span class="fa fa-user mr-2"></span>Admin</a>
                                <a href="#" class="meta-chat"><span class="fa fa-comment mr-2"></span> 3</a>
                            </p>
                            <h2 class="mb-4"><a href="blog-single.html">{{blog.title}}</a></h2>
                            <div class="icon d-flex align-items-center">
                                <div class="img" style="background-image: url(images/person_1.jpg);"></div>
                                <div class="position pl-3">
                                    <h4 class="mb-0">Jamie Jonson</h4>
                                    <span>CEO, Product Designer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center pt-4 py-md-5">
                    <div class="col-md-7">
                        <div class="py-4">
                            <p>{{blog.body}}</p>
                        </div>
                        <div class="tag-widget post-tag-container mb-5 mt-5">
                            <div class="tagcloud">
                                {% for i in blog.tag.filter %}
                                <a href="#" class="tag-cloud-link">{{i.title}}</a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="comment-post py-5">
                            <h3 class="mb-5">6 Comments</h3>
                            <ul class="comment-list">
                                {% for i in blog.comment.all %}
                                <li class="comment">
                                    <div class="vcard bio">
                                        <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        <h3>{{i.full_name}}</h3>
                                        <div class="meta">{{i.create_date}}</div>
                                        <p>{{i.message}}</p>
                                        <p><a href="#" class="reply">Reply</a></p>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                        <div class="comment-form-wrap pt-5">
                            <h3 class="mb-5">Leave a comment</h3>
                            <form method="post" action="#" class="p-5 comment-form">
                                <div class="row">
                                    {% csrf_token %}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="name">Full Name *</label>
                                            <input name="full_name" type="text" class="form-control" id="name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Email *</label>
                                            <input name="email" type="email" class="form-control" id="email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="website">Phone</label>
                                            <input name="phone" type="text" class="form-control" id="website">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="message">Message</label>
                                            <textarea name="message" id="message" cols="30" rows="10"
                                                      class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ftco-intro ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <h2>Subscribe to our Newsletter</h2>
                <div class="row justify-content-center">
                    <div class="col-md-5">
                        <form action="#" class="subscribe-form">
                            <div class="form-group d-flex">
                                <input type="text" class="form-control" placeholder="Enter email address">
                                <input type="submit" value="Subscribe" class="submit px-3">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}